<div class="battleWrapper">
    <div class="battleWindow">
        <div class="pokemon1img"></div>
        <div class="pokemon2img"></div>
        <div id="battleinfo1" class="battleinfo">
            <h3 id='player1name'>Player 1</h3>
            <p>HP: <span id="current1hp"></span></p>
        </div>
        <div id="battleinfo2" class="battleinfo">
            <h3 id='player2name'>Pidgey</h3>
            <p>HP: <span id="current2hp"></span></p>
        </div>
    </div>
    <div class="statusBar"><textarea id="status" rows="3" disabled></textarea></div>
</div>