<div class="battleWrapper">
    <div class="battleWindow">
        <div class="pokemon1img"><img src='./assets/pics/back/{{user.pokemons[currentPokemonIdx].id}}.png' height='280'></div>
        <div class="pokemon2img"><img src='./assets/pics/front/{{randomPokemon.id}}.png' height='150'></div>
        <div id="battleinfo1" class="battleinfo">
            <h3 id='player1name'>{{user.pokemons[currentPokemonIdx].name}}</h3>
            <p>HP: <span id="current1hp">{{user.pokemons[currentPokemonIdx].hp}}</span></p>
        </div>
        <div id="battleinfo2" class="battleinfo">
            <h3 id='player2name'>{{randomPokemon.name}}</h3>
            <p>HP: <span id="current2hp">{{randomPokemon.hp}}</span></p>
        </div>
    </div>
    <div class="statusBar"><textarea id="status" rows="3" disabled></textarea></div>
</div>
<div class="battleControls">
    <button class="attack" type="button" ng-click="testAttack()" onclick="playeratk(currentPokemon, enemyPokemon)">Attack</button>
</div>
<div class="cry1"></div>
<div class="cry2"></div>

<script src="battle.js"></script>
