<div class="TitleWrapper">
    <img src="assets/pics/bg/TitleLogo.png" width="700"> <br>
    <div class="login">
        <form ng-submit="login()">
            <input type="text" id="username" class="login" ng-model="user.username"><br>
            <label for="username">Username</label><br>
            <input type="password" id="password" class="login" ng-model="user.password"><br>
            <label for="password">Password</label><br>
            <button class="login" type="submit">Reg/Login</button>
        </form>
    </div>
</div>

